$color_primary: #1a4e38;
$color_secondary: #c4a552;
$color_primary_dark: darken($color_primary, 15);
$color_secondary_dark: darken($color_secondary, 15);
$color_primary_light: lighten($color_primary, 15);
$color_secondary_light: lighten($color_secondary, 15);

$color_accent: #fff;
$color_black: #3d3d3d;
$color_white: #d6dbd4;
$color_grey: #333;
$color_grey_dark: darken($color_grey, 15);